Repository SalmaanSuli/Endurance: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, tests

codecov.yml:

coverage:
  status:
    project:
      frontend:
        target: 50%
        flags:
          - frontend
flags:
  frontend:
    paths:
      - lib/
  tests:
    paths:
      - test/

Update config.yml
  .circleci/config.yml
Due: none

Update codecov.yml
  codecov.yml
Due: none

Create .codecov.yml
  .codecov.yml
Due: none

Update .codecov.yml
  .codecov.yml
Due: none

Delete codecov.yml
  codecov.yml
Due: none

Update loginscreen_test.dart
  test/loginscreen_test.dart
Due: tests

Update loginscreen.dart
  lib/loginscreen.dart
Due: frontend

Update signupscreen.dart
  lib/signupscreen.dart
Due: frontend

Update signupscreen_test.dart
  test/signupscreen_test.dart
Due: tests

Created config.yml for sprint3
  .circleci/config.yml
Due: none

badge circle
  README.md
Due: none

badge2 circleCI
  README.md
Due: none

circleCI Insights
  README.md
Due: none

added circleCI
  README.md
Due: none

Updated branch with correct details
  README.md
Due: none

added badge
  README.md
Due: none

added two badges from circleCI - shield and svg
  README.md
Due: none

Add files via upload
  .codecov.yml
Due: none

Add files via upload
  coverage/lcov.info
Due: none

Update homescreen.dart
  lib/homescreen.dart
Due: frontend

Add files via upload
  test/homescreen_test.dart
  test/profilescreen_test.dart
Due: tests

Delete profilescreen_test.dart
  test/profilescreen_test.dart
Due: tests

Update profilescreen.dart
  lib/profilescreen.dart
Due: frontend

Delete homescreen_test.dart
  test/homescreen_test.dart
Due: tests

Update README.md
  README.md
Due: none
