Repository SalmaanSuli/Endurance: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, tests

Create AppRuleClass
  lib/AppRuleClass
Due: frontend

Rename lib/AppRuleClass to lib1/AppRuleClass
  lib1/AppRuleClass
Due: none

Delete lib1 directory
  lib1/AppRuleClass
Due: none

Create AppRuleClass.dart
  lib/AppRuleClass.dart
Due: frontend

Rename AppRuleClass.dart to AppTaskClass.dart
  lib/AppTaskClass.dart
Due: frontend

Add files via upload
  lib/AppRuleClass.dart
  lib/diet_men_rec.dart
  lib/endurance_widgets.dart
  lib/lose_weight.dart
  lib/main.dart
  lib/meal.dart
  lib/slim_diet_rec.dart
  lib/upper_body_workout.dart
  lib/women_diet_rec.dart
  lib/women_workout.dart
Due: frontend

Delete main.dart
  lib/main.dart
Due: frontend

Delete test directory
  test/AppRuleClass_test.dart
  test/AppTaskClass_test.dart
  test/AppWorkoutClass_test.dart
  test/create_task_new_widget_test.dart
  test/custom_toggle_icon_test.dart
  test/diet_screen_test.dart
  test/empty_list_tasks_widget_test.dart
  test/homescreen_test.dart
  test/loginscreen_test.dart
  test/profilescreen_test
  test/signupscreen_test.dart
  test/taskscreen_test.dart
  test/unit_test.dart
  test/update_rule_widget_test.dart
  test/update_task_widget_test.dart
  test/update_workout_test.dart
  test/widget_test.dart
Due: tests

Create unit_test.dart
  test/unit_test.dart
Due: tests

Add files via upload
  lib/appWorkouts.dart
Due: frontend

Update unit_test.dart
  test/unit_test.dart
Due: tests

Create AppTaskClass_test.dart
  test/AppTaskClass_test.dart
Due: tests

Update README.md
  README.md
Due: none

Update appWorkouts.dart
  lib/appWorkouts.dart
Due: frontend

Update AppTaskClass.dart
  lib/AppTaskClass.dart
Due: frontend

Path conditions:
  frontend: any of: lib/
  tests: any of: test/
